.DS_Store
*.log
*.pid

jarvis-core/.gradle/
jarvis-core/build/
jarvis-core/out/

jarvis-agent/.build/

jarvis-ai/.venv/
jarvis-ai/__pycache__/
jarvis-ai/.pytest_cache/
jarvis-ai/app/__pycache__/
jarvis-ai/app/api/__pycache__/
jarvis-ai/app/api/routes/__pycache__


jarvis-runtime/.pids/
jarvis-runtime/__pycache__/

jarvis-data/db/*.db
